In [1]:
import pandas as pd
import matplotlib as plt
from sklearn.datasets import make_blobs
import sklearn as skl
import tensorflow as tf

In [3]:
Soybeans_df=pd.read_csv("Resources/Soybeans.csv")
Corn_df=pd.read_csv("Resources/Corn.csv")
Cotton_df=pd.read_csv("Resources/Cotton.csv")
Wheat_df=pd.read_csv("Resources/Wheat.csv")
USDBRL_df=pd.read_csv("Resources/USDBRL.csv")
USDCNH_df=pd.read_csv("Resources/USDCNH.csv")
EURUSD_df=pd.read_csv("Resources/EURUSD.csv")
IR_df=pd.read_csv("Resources/IR.csv")

In [4]:
IR_df.head()

         Date  Open  High   Low  Close  Adj Close  Volume
0  1960-01-04  4.52  4.52  4.52   4.52       4.52     0.0
1  1960-01-05  4.55  4.55  4.55   4.55       4.55     0.0
2  1960-01-06  4.68  4.68  4.68   4.68       4.68     0.0
3  1960-01-07  4.63  4.63  4.63   4.63       4.63     0.0
4  1960-01-08  4.59  4.59  4.59   4.59       4.59     0.0

In [5]:
IR_df.shape

(19016, 7)

In [7]:
print (Soybeans_df.shape, Corn_df.shape, Cotton_df.shape, Wheat_df.shape, USDBRL_df.shape, USDCNH_df.shape, EURUSD_df.shape, IR_df.shape)

(6274, 7) (6326, 7) (6494, 7) (6326, 7) (4499, 7) (1986, 6) (4499, 7) (19016, 7)