# Neural Network Model

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.datasets import make_blobs
import pandas as pd
import tensorflow as tf
import matplotlib as plt

In [3]:
alldata_df = pd.read_csv("AllData.csv") 
alldata_df

,Date,Soybeans Open,Soybeans High,Soybeans Low,Soybeans Close,Soybeans Volume,Corn Open,Corn High,Corn Low,Corn Close,...,EURUSD Open,EURUSD High,EURUSD Low,EURUSD Close,EURUSD Volume,IR Open,IR High,IR Low,IR Close,IR Volume
0,2021-03-03,1415.00,1417.75,1397.50,1399.00,34141,544.00,544.25,535.50,536.00,...,1.208897,1.211387,1.204819,1.206418,0,1.465,1.488,1.455,1.477,0
1,2021-03-02,1395.00,1416.00,1383.50,1414.00,1258,547.25,564.00,542.00,560.75,...,1.204906,1.208036,1.199400,1.205110,0,1.446,1.451,1.403,1.415,0
2,2021-03-01,1415.75,1422.00,1392.00,1392.50,1258,560.50,562.50,547.00,547.50,...,1.209090,1.210156,1.202993,1.208956,0,1.451,1.460,1.407,1.446,0
3,2021-02-26,1404.00,1408.25,1380.00,1405.25,5701,554.50,556.50,546.25,555.50,...,1.216012,1.218249,1.209175,1.216042,0,1.470,1.519,1.439,1.460,0
4,2021-02-25,1423.50,1443.00,1391.75,1406.00,44673,559.00,560.50,542.50,554.75,...,1.216951,1.224155,1.215658,1.217137,0,1.456,1.614,1.432,1.518,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3662,2006-03-30,581.50,583.50,581.00,587.75,988,224.00,224.75,223.75,227.75,...,1.202993,1.217493,1.202704,1.216797,0,4.808,4.884,4.806,4.855,0
3663,2006-03-29,581.50,583.75,580.75,582.50,607,222.00,223.25,222.00,224.25,...,1.200898,1.204993,1.198595,1.203094,0,4.786,4.818,4.772,4.810,0
3664,2006-03-28,578.75,580.75,578.00,581.50,882,221.25,222.75,221.00,222.25,...,1.201504,1.210405,1.199702,1.201100,0,4.723,4.798,4.721,4.778,0
3665,2006-03-27,573.75,579.00,572.50,579.50,667,219.00,221.25,218.25,221.75,...,1.203297,1.205807,1.200696,1.201100,0,4.679,4.715,4.675,4.701,0
3666,2006-03-24,575.00,577.50,575.00,573.75,4458,219.50,220.25,219.25,218.75,...,1.196802,1.204805,1.195700,1.203500,0,4.737,4.737,4.653,4.675,0

In [4]:
alldata_df = alldata_df.dropna() 
alldata_df

,Date,Soybeans Open,Soybeans High,Soybeans Low,Soybeans Close,Soybeans Volume,Corn Open,Corn High,Corn Low,Corn Close,...,EURUSD Open,EURUSD High,EURUSD Low,EURUSD Close,EURUSD Volume,IR Open,IR High,IR Low,IR Close,IR Volume
0,2021-03-03,1415.00,1417.75,1397.50,1399.00,34141,544.00,544.25,535.50,536.00,...,1.208897,1.211387,1.204819,1.206418,0,1.465,1.488,1.455,1.477,0
1,2021-03-02,1395.00,1416.00,1383.50,1414.00,1258,547.25,564.00,542.00,560.75,...,1.204906,1.208036,1.199400,1.205110,0,1.446,1.451,1.403,1.415,0
2,2021-03-01,1415.75,1422.00,1392.00,1392.50,1258,560.50,562.50,547.00,547.50,...,1.209090,1.210156,1.202993,1.208956,0,1.451,1.460,1.407,1.446,0
3,2021-02-26,1404.00,1408.25,1380.00,1405.25,5701,554.50,556.50,546.25,555.50,...,1.216012,1.218249,1.209175,1.216042,0,1.470,1.519,1.439,1.460,0
4,2021-02-25,1423.50,1443.00,1391.75,1406.00,44673,559.00,560.50,542.50,554.75,...,1.216951,1.224155,1.215658,1.217137,0,1.456,1.614,1.432,1.518,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3662,2006-03-30,581.50,583.50,581.00,587.75,988,224.00,224.75,223.75,227.75,...,1.202993,1.217493,1.202704,1.216797,0,4.808,4.884,4.806,4.855,0
3663,2006-03-29,581.50,583.75,580.75,582.50,607,222.00,223.25,222.00,224.25,...,1.200898,1.204993,1.198595,1.203094,0,4.786,4.818,4.772,4.810,0
3664,2006-03-28,578.75,580.75,578.00,581.50,882,221.25,222.75,221.00,222.25,...,1.201504,1.210405,1.199702,1.201100,0,4.723,4.798,4.721,4.778,0
3665,2006-03-27,573.75,579.00,572.50,579.50,667,219.00,221.25,218.25,221.75,...,1.203297,1.205807,1.200696,1.201100,0,4.679,4.715,4.675,4.701,0
3666,2006-03-24,575.00,577.50,575.00,573.75,4458,219.50,220.25,219.25,218.75,...,1.196802,1.204805,1.195700,1.203500,0,4.737,4.737,4.653,4.675,0

In [ ]:
#alldata_df.rename(columns= {"COLUMN_NAME":"NEW_COLUMN_NAME"}, inplace= True) 
#alldata_df

In [ ]:
# Drop the non-beneficial columns
#alldata_df = alldata_df.drop(columns= ["COLUMN_NAME"], axis= 1)

In [5]:
# Determine the number of unique values in each column.
alldata_df.nunique()

Date               3667
Soybeans Open      2035
Soybeans High      2054
Soybeans Low       2021
Soybeans Close     2045
Soybeans Volume    3535
Corn Open          1303
Corn High          1346
Corn Low           1327
Corn Close         1352
Corn Volume        3603
Wheat Open         1607
Wheat High         1637
Wheat Low          1586
Wheat Close        1628
Wheat Volume       3443
Cotton Open        2411
Cotton High        2480
Cotton Low         2463
Cotton Close       2636
Cotton Volume      2388
Crude Open         2892
Crude High         2871
Crude Low          2896
Crude Close        2913
Crude Volume       3642
USDBRL Open        3237
USDBRL High        3295
USDBRL Low         3260
USDBRL Close       3220
USDBRL Volume         1
EURUSD Open        3162
EURUSD High        3159
EURUSD Low         3297
EURUSD Close       3147
EURUSD Volume         1
IR Open            2207
IR High            2178
IR Low             2160
IR Close           2195
IR Volume             1
dtype: int64

In [ ]:
alldata_df.dtypes

In [ ]:
# Look at [COLUMN NAME] value counts for binning
#counts = alldata_df.COLUMN_NAME.value_counts()

In [ ]:
# Visualize the value counts of [COLUMN NAME] 
#counts.plot.density()

In [ ]:
# Determine which values to replace if counts are less than ...?
#replace_application = list(counts[counts < 500].index) 

# Replace in dataframe
#for app in replace_application:
    #alldata_df.COLUMN_NAME = alldata_df.COLUMN_NAME.replace(app,"Other")
    
# Check to make sure binning was successful
#alldata_df.COLUMN_NAME.value_counts()

In [ ]:
# Look at CLASSIFICATION value counts for binning
#classification_counts = alldata_df.CLASSIFICATION.value_counts() 
#classification_counts

In [ ]:
# Visualize the value counts of CLASSIFICATION
#classification_counts.plot.density()

In [ ]:
# Determine which values to replace if counts are less than ..?
#replace_class = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
#for cls in replace_class:
    #alldata_df.CLASSIFICATION = alldata_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
#alldata_df.CLASSIFICATION.value_counts()

In [ ]:
# Generate our categorical variable lists
categories = ["Date", "Soybeans Open"]

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(alldata_df[categories])) 

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(categories)
encode_df.head()

In [ ]:
# Merge one-hot encoded features and drop the originals
alldata_df = alldata_df.merge(encode_df, left_index= True, 
                                      right_index= True).drop(columns= categories,axis= 1)
alldata_df.head()

In [ ]:
# Split our preprocessed data into our features and target arrays
X = alldata_df.drop("TARGET_COLUMN_NAME", axis= 1)
y = alldata_df.TARGET_COLUMN_NAME

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 0, stratify= y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Train the Neural Network

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_layer_1 = 80
hidden_layer_2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_1, activation= "relu",
                             input_dim= number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_layer_2, activation= "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation= "sigmoid")) 

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss= "binary_crossentropy", optimizer= "adam", metrics= ["accuracy"])

In [ ]:
# Train the model
model = nn.fit(X_train_scaled, y_train, epochs= 100)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")