# Neural Network Model

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.datasets import make_blobs
import pandas as pd
import tensorflow as tf
import matplotlib as plt

In [2]:
alldata_df = pd.read_csv("AllData_copy.csv") 
alldata_df

,Date,Soybeans_Open,Soybeans_High,Soybeans_Low,Soybeans_Close,Soybeans_Volume,Corn_Open,Corn_High,Corn_Low,Corn_Close,...,EURUSD_Open,EURUSD_High,EURUSD_Low,EURUSD_Close,EURUSD_Volume,IR_Open,IR_High,IR_Low,IR_Close,IR_Volume
0,3/3/21,1415.00,1417.75,1397.50,1399.00,34141,544.00,544.25,535.50,536.00,...,1.208897,1.211387,1.204819,1.206418,0,1.465,1.488,1.455,1.477,0
1,3/2/21,1395.00,1416.00,1383.50,1414.00,1258,547.25,564.00,542.00,560.75,...,1.204906,1.208036,1.199400,1.205110,0,1.446,1.451,1.403,1.415,0
2,3/1/21,1415.75,1422.00,1392.00,1392.50,1258,560.50,562.50,547.00,547.50,...,1.209090,1.210156,1.202993,1.208956,0,1.451,1.460,1.407,1.446,0
3,2/26/21,1404.00,1408.25,1380.00,1405.25,5701,554.50,556.50,546.25,555.50,...,1.216012,1.218249,1.209175,1.216042,0,1.470,1.519,1.439,1.460,0
4,2/25/21,1423.50,1443.00,1391.75,1406.00,44673,559.00,560.50,542.50,554.75,...,1.216951,1.224155,1.215658,1.217137,0,1.456,1.614,1.432,1.518,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3662,3/30/06,581.50,583.50,581.00,587.75,988,224.00,224.75,223.75,227.75,...,1.202993,1.217493,1.202704,1.216797,0,4.808,4.884,4.806,4.855,0
3663,3/29/06,581.50,583.75,580.75,582.50,607,222.00,223.25,222.00,224.25,...,1.200898,1.204993,1.198595,1.203094,0,4.786,4.818,4.772,4.810,0
3664,3/28/06,578.75,580.75,578.00,581.50,882,221.25,222.75,221.00,222.25,...,1.201504,1.210405,1.199702,1.201100,0,4.723,4.798,4.721,4.778,0
3665,3/27/06,573.75,579.00,572.50,579.50,667,219.00,221.25,218.25,221.75,...,1.203297,1.205807,1.200696,1.201100,0,4.679,4.715,4.675,4.701,0
3666,3/24/06,575.00,577.50,575.00,573.75,4458,219.50,220.25,219.25,218.75,...,1.196802,1.204805,1.195700,1.203500,0,4.737,4.737,4.653,4.675,0

In [3]:
alldata_df = alldata_df.dropna() 
alldata_df

,Date,Soybeans_Open,Soybeans_High,Soybeans_Low,Soybeans_Close,Soybeans_Volume,Corn_Open,Corn_High,Corn_Low,Corn_Close,...,EURUSD_Open,EURUSD_High,EURUSD_Low,EURUSD_Close,EURUSD_Volume,IR_Open,IR_High,IR_Low,IR_Close,IR_Volume
0,3/3/21,1415.00,1417.75,1397.50,1399.00,34141,544.00,544.25,535.50,536.00,...,1.208897,1.211387,1.204819,1.206418,0,1.465,1.488,1.455,1.477,0
1,3/2/21,1395.00,1416.00,1383.50,1414.00,1258,547.25,564.00,542.00,560.75,...,1.204906,1.208036,1.199400,1.205110,0,1.446,1.451,1.403,1.415,0
2,3/1/21,1415.75,1422.00,1392.00,1392.50,1258,560.50,562.50,547.00,547.50,...,1.209090,1.210156,1.202993,1.208956,0,1.451,1.460,1.407,1.446,0
3,2/26/21,1404.00,1408.25,1380.00,1405.25,5701,554.50,556.50,546.25,555.50,...,1.216012,1.218249,1.209175,1.216042,0,1.470,1.519,1.439,1.460,0
4,2/25/21,1423.50,1443.00,1391.75,1406.00,44673,559.00,560.50,542.50,554.75,...,1.216951,1.224155,1.215658,1.217137,0,1.456,1.614,1.432,1.518,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3662,3/30/06,581.50,583.50,581.00,587.75,988,224.00,224.75,223.75,227.75,...,1.202993,1.217493,1.202704,1.216797,0,4.808,4.884,4.806,4.855,0
3663,3/29/06,581.50,583.75,580.75,582.50,607,222.00,223.25,222.00,224.25,...,1.200898,1.204993,1.198595,1.203094,0,4.786,4.818,4.772,4.810,0
3664,3/28/06,578.75,580.75,578.00,581.50,882,221.25,222.75,221.00,222.25,...,1.201504,1.210405,1.199702,1.201100,0,4.723,4.798,4.721,4.778,0
3665,3/27/06,573.75,579.00,572.50,579.50,667,219.00,221.25,218.25,221.75,...,1.203297,1.205807,1.200696,1.201100,0,4.679,4.715,4.675,4.701,0
3666,3/24/06,575.00,577.50,575.00,573.75,4458,219.50,220.25,219.25,218.75,...,1.196802,1.204805,1.195700,1.203500,0,4.737,4.737,4.653,4.675,0

In [ ]:
#alldata_df.rename(columns= {"COLUMN_NAME":"NEW_COLUMN_NAME"}, inplace= True) 
#alldata_df

In [4]:
# Drop the non-beneficial columns
#alldata_df = alldata_df.drop(columns= ["COLUMN_NAME"], axis= 1) 
alldata_df = alldata_df.drop(columns= ["Date"], axis= 1) 
alldata_df

,Soybeans_Open,Soybeans_High,Soybeans_Low,Soybeans_Close,Soybeans_Volume,Corn_Open,Corn_High,Corn_Low,Corn_Close,Corn_Volume,...,EURUSD_Open,EURUSD_High,EURUSD_Low,EURUSD_Close,EURUSD_Volume,IR_Open,IR_High,IR_Low,IR_Close,IR_Volume
0,1415.00,1417.75,1397.50,1399.00,34141,544.00,544.25,535.50,536.00,49844,...,1.208897,1.211387,1.204819,1.206418,0,1.465,1.488,1.455,1.477,0
1,1395.00,1416.00,1383.50,1414.00,1258,547.25,564.00,542.00,560.75,6534,...,1.204906,1.208036,1.199400,1.205110,0,1.446,1.451,1.403,1.415,0
2,1415.75,1422.00,1392.00,1392.50,1258,560.50,562.50,547.00,547.50,6534,...,1.209090,1.210156,1.202993,1.208956,0,1.451,1.460,1.407,1.446,0
3,1404.00,1408.25,1380.00,1405.25,5701,554.50,556.50,546.25,555.50,21395,...,1.216012,1.218249,1.209175,1.216042,0,1.470,1.519,1.439,1.460,0
4,1423.50,1443.00,1391.75,1406.00,44673,559.00,560.50,542.50,554.75,128538,...,1.216951,1.224155,1.215658,1.217137,0,1.456,1.614,1.432,1.518,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3662,581.50,583.50,581.00,587.75,988,224.00,224.75,223.75,227.75,2082,...,1.202993,1.217493,1.202704,1.216797,0,4.808,4.884,4.806,4.855,0
3663,581.50,583.75,580.75,582.50,607,222.00,223.25,222.00,224.25,716,...,1.200898,1.204993,1.198595,1.203094,0,4.786,4.818,4.772,4.810,0
3664,578.75,580.75,578.00,581.50,882,221.25,222.75,221.00,222.25,1944,...,1.201504,1.210405,1.199702,1.201100,0,4.723,4.798,4.721,4.778,0
3665,573.75,579.00,572.50,579.50,667,219.00,221.25,218.25,221.75,1054,...,1.203297,1.205807,1.200696,1.201100,0,4.679,4.715,4.675,4.701,0
3666,575.00,577.50,575.00,573.75,4458,219.50,220.25,219.25,218.75,12515,...,1.196802,1.204805,1.195700,1.203500,0,4.737,4.737,4.653,4.675,0

In [5]:
# Determine the number of unique values in each column.
alldata_df.nunique()

Soybeans_Open      2035
Soybeans_High      2054
Soybeans_Low       2021
Soybeans_Close     2045
Soybeans_Volume    3535
Corn_Open          1303
Corn_High          1346
Corn_Low           1327
Corn_Close         1352
Corn_Volume        3603
Wheat_Open         1607
Wheat_High         1637
Wheat_Low          1586
Wheat_Close        1628
Wheat_Volume       3443
Cotton_Open        2411
Cotton_High        2480
Cotton_Low         2463
Cotton_Close       2636
Cotton_Volume      2388
Crude_Open         2892
Crude_High         2871
Crude_Low          2896
Crude_Close        2913
Crude_Volume       3642
USDBRL_Open        3237
USDBRL_High        3295
USDBRL_Low         3260
USDBRL_Close       3220
USDBRL_Volume         1
EURUSD_Open        3162
EURUSD_High        3159
EURUSD_Low         3297
EURUSD_Close       3147
EURUSD_Volume         1
IR_Open            2207
IR_High            2178
IR_Low             2160
IR_Close           2195
IR_Volume             1
dtype: int64

In [6]:
alldata_df.dtypes

Soybeans_Open      float64
Soybeans_High      float64
Soybeans_Low       float64
Soybeans_Close     float64
Soybeans_Volume      int64
Corn_Open          float64
Corn_High          float64
Corn_Low           float64
Corn_Close         float64
Corn_Volume          int64
Wheat_Open         float64
Wheat_High         float64
Wheat_Low          float64
Wheat_Close        float64
Wheat_Volume         int64
Cotton_Open        float64
Cotton_High        float64
Cotton_Low         float64
Cotton_Close       float64
Cotton_Volume        int64
Crude_Open         float64
Crude_High         float64
Crude_Low          float64
Crude_Close        float64
Crude_Volume         int64
USDBRL_Open        float64
USDBRL_High        float64
USDBRL_Low         float64
USDBRL_Close       float64
USDBRL_Volume        int64
EURUSD_Open        float64
EURUSD_High        float64
EURUSD_Low         float64
EURUSD_Close       float64
EURUSD_Volume        int64
IR_Open            float64
IR_High            float64
IR_Low             float64
IR_Close           float64
IR_Volume            int64
dtype: object

In [7]:
# Look at [COLUMN NAME] value counts for binning
#counts = alldata_df.COLUMN_NAME.value_counts() 
counts = alldata_df.Soybeans_Open.value_counts() 
counts

860.00     11
968.00     10
990.00      9
880.00      9
982.00      8
           ..
1160.75     1
1501.50     1
1001.25     1
949.75      1
1575.25     1
Name: Soybeans_Open, Length: 2035, dtype: int64

In [ ]:
# Visualize the value counts of [COLUMN NAME] 
#counts.plot.density()

In [ ]:
# Determine which values to replace if counts are less than ...?
#replace_value = list(counts[counts < 500].index) 

# Replace in dataframe
#for value in replace_value:
    #alldata_df.COLUMN_NAME = alldata_df.COLUMN_NAME.replace(value,"Other")
    
# Check to make sure binning was successful
#alldata_df.COLUMN_NAME.value_counts()

In [ ]:
# Look at COLUMN_NAME value counts for binning
#COLUMN_NAME_counts = alldata_df.COLUMN_NAME.value_counts() 
#COLUMN_NAME_counts

In [ ]:
# Visualize the value counts of COLUMN_NAME^
#COLUMN_NAME_counts.plot.density()

In [ ]:
# Determine which values to replace if counts are less than ..?
#replace_class = list(COLUMN_NAME_counts[COLUMN_NAME_counts < 1000].index)

# Replace in dataframe
#for cls in replace_class:
    #alldata_df.COLUMN_NAME = alldata_df.COLUMN_NAME.replace(cls,"Other")
    
# Check to make sure binning was successful
#alldata_df.COLUMN_NAME.value_counts()

In [ ]:
# Generate our categorical variable lists
categories = ["Soybeans_Open", "Soybeans_High", "Soybeans_Low", "Soybeans_Close", "Soybeans_Volume",
              "Corn_Open", "Corn_High", "Corn_Low", "Corn_Close", "Corn_Volume",
              "Wheat_Open", "Wheat_High", "Wheat_Low", "Wheat_Close", "Wheat_Volume",
              "Cotton_Open", "Cotton_High", "Cotton_Low", "Cotton_Close", "Cotton_Volume",
              "Crude_Open", "Crude_High", "Crude_Low", "Crude_Close", "Crude_Volume",
              "USDBRL_Open", "USDBRL_High", "USDBRL_Low", "USDBRL_Close", "USDBRL_Volume",
              "EURUSD_Open", "EURUSD_High", "EURUSD_Low", "EURUSD_Close", "EURUSD_Volume",
              "IR_Open", "IR_High", "IR_Low", "IR_Close", "IR_Volume"]

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(alldata_df[categories])) 

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(categories)
encode_df.head()

In [ ]:
# Merge one-hot encoded features and drop the originals
alldata_df = alldata_df.merge(encode_df, left_index= True, 
                                      right_index= True).drop(columns= categories,axis= 1)
alldata_df.head()

In [ ]:
# Split our preprocessed data into our features and target arrays
X = alldata_df.drop("Soybeans_Close", axis= 1)
y = alldata_df.TARGET_COLUMN_NAME

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state= 0, stratify= y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Train the Neural Network

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_layer_1 = 100
hidden_layer_2 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_1, activation= "relu",
                             input_dim= number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_layer_2, activation= "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation= "sigmoid")) 

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss= "LOSS_FUNCTION", optimizer= "adam", metrics= ["accuracy"])

In [ ]:
# Train the model
model = nn.fit(X_train_scaled, y_train, epochs= 100)

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")